
/.phpunit.cache
/node_modules

/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
UPDATE.md
storage/installed
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# OSX Specific files
.DS_Store
/__MACOXS